<section class="index-page">
  <img class="avatar" alt="user-photo" src={{{ avatar }}} >
  <h1>Hello {{{ userName }}}!</h1>
  <button>
    <a href='/auth/logout/'>
      Log Out
    </a>
  </button>
</section>